#mynetwork {
    width: 100%;
    height: 400px;
    border: 1px solid lightgray;
}

body {
    font-family: Arial
}

.tablesmall {
    font-size: 0.5em;
    border-collapse: collapse;
    border-spacing: 0px;
}

.tablesmall th {
    padding-top: 1px;
    padding-bottom: 1px;
}

.tablesmall td {
    padding-top: 1px;
    padding-bottom: 1px;
}

.tablesmall tr:nth-child(even) {
    background-color: #DCDCCA;
}

.tablesmall tr:nth-child(odd) {
    background-color: #EEEEEB;
}

.center {
    margin: 0 auto;
    text-align: center;
}

.labelbotton {
    appearance: auto;
    text-rendering: auto;
    color: buttontext;
    text-align: center;
    font-size: 13px;
    align-items: flex-start;
    cursor: default;
    box-sizing: border-box;
    background-color: buttonface;
    border-radius: 0.2em;
    padding-block: 1px;
    padding-inline: 6px;
    padding-top: 0.2em;
    border-width: 1px;
    border-style: outset;
    border-color: buttonborder;
    border-image: initial;
}






#divSelectorRowsFilter {
    min-width: 1750px;
    height: 300px;
    border: black 1px solid;

}

#selectorRowsContainer {
    min-width: 1500px;
    min-height: 400px;
}

.hidden {
    display: none;
}

.objectInSelect {
    background-color: rgba(255, 153, 0, 0.87);
}

#imageIsAnObject {
    display: block;
    /* height:400; */
    position: absolute;
    /* left:20; */
}

.borderTable {
    border: black 1px solid;
}

th.borderTable {
    min-width: 100px;
    padding-left: 10px;
    padding-right: 10px;
}

#divSelectorRowsFilter {
    margin-top: 20px;
    height: fit-content;
    min-width: 800px;
    border: black 1px solid;
}

#divResult {
    margin-top: 20px;
    width: 55%;
    height: 300px;
    float: left;
    border: black 1px solid;
}

#divGraphicOrder {
    border: black 1px solid;
    margin-top: 20px;
    width: 40%;
    height: content;
    float: right;
}



.divGraphicOrder1 {
    border: black 1px solid;
    height: auto+50px;
}

.boxLevel1 {
    min-height: 70px;
    width:180px;
    border: black 1px solid;
    position: relative;
    margin-bottom: 20px;

}
.boxLevel2 {
    min-height: 300px;
    width:300px;
    border: black 1px solid;
    position: relative;
    margin-bottom: 20px;

}


.boxForL1{
    border: black 1px solid;
    position: absolute;
    left: 0;
    display: inline-block;
    height: 100%;


}

.conditionSelectorBoxL2{
    border: black 1px solid;
    position: absolute;
    display: inline-block;
    height: 100%;
    left: 60%;
    width: 40%;

}


.characterBoxContainer_1 {
    position: absolute;
    left: 0;
    height: 100%;
    width: 60%;
    border: black 1px solid;

    
}

.characterBox {

    margin-left: 5px;
    margin-top: 10px;
    margin-bottom: 5px;
    height: 20px;
    border: black 1px solid;
    display: block;
}
.characterBox:hover{
    cursor: pointer;
}

.characterBoxText{
    height: 20px;
    width: 20px;
    display: inline-block;  
}

.characterDeleteButton{
    background-image: url("trash_18x18.png");
    height: 18px;
    width: 18px;
   display: inline-block;
  
  
}
.characterUpButton{
    background-image: url("fletxaAmunt_18x11.png");
    height: 18px;
    width: 11px;
    display: inline-block; 
    margin-right: 5px; 
   

}
.characterDownButton{
    background-image: url("fletxaAbaix_18x11.png");
    height: 18px;
    width: 11px;
    margin-right: 5px; 
    display: inline-block; 
}


.conditionSelectorBox {
    position: absolute;
    height: 100%;
    left: 60%;
    width: 40%;
    border: black 1px solid;

}
.divPlus{
    position: relative;
    float: right;
    font-weight: bolder;
    margin-right: 10px;

}
.divPlus:hover{
    cursor: pointer;
}
.divTrash{
    position: absolute;
    background-image: url("trash_18x18.png");
    height: 18px;
    width: 18px;
    background-size: 80%;
    background-repeat: no-repeat;
    bottom:0px;
    margin-right:5px;
    right: 0px;
}
.divTrash:hover{
    cursor: pointer;
}



.selectCondition{
    position: absolute;
    top:40%;
    margin-left: 10px;
}



.divGraphicOrder2 {
    border: black 1px solid;
    height: 50px;
}


/* Row Filter */
#fullFilterDiv {
    height: 200px;
    border: black 1px solid;
    width: 100%;
    margin-top: 20px;
}

#fullFilterDiv {
    min-height: 100px;
    border: black 1px solid;
    width: 100%;
    margin-top: 20px;
    position: relative;
}

.filterGroup {
    min-height: 100px;
    border: black 1px solid;
    width: 100%;
    margin-top: 20px;
}

.filterConditionDiv {
    height: 30px;
    /*A mirar quant fan els selectors*/
    width: 85%;
    border: black 1px solid;
    margin-top: 10px;
    margin-left: 10px;
    display: inline-block;

}

.filterConditionGroup {
    height: auto;
    border: black 1px solid;
    width: 70%;
    margin-top: 20px;
    margin-left: 10px;
    display: inline-block;
}

.divCondition {
    height: 50px;
    border: black 1px solid;
    width: 15%;
    margin-top: 20px;
    margin-left: 10px;
    display: inline-block;
}

.divLineaCondition {
    width: 10px;
    height: 50px;
    border-left: black 5px solid;
    margin-left: 10px;
    margin-top: 15px;
    margin-bottom: 10px;
}


.buttonAddCondition {
    margin-left: 30px;
    display: block;

}

.buttonImage {
    width: 12px;
}

.buttonAddFilterGroup {
    margin-left: 30px;

    display: block;
}

/*..........*/
.divInSelectedGraphic_condition {
    border: black 1px solid;
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
    background-color: aqua;
}

.inblock {
    display: inline-block;
}

.trash {
    background-image: url("trash.png");
    background-repeat: no-repeat;
    background-size: contain;
    height: 40px;

}